.instagram-wrap{overflow:hidden}
.instagram-wrap a{ border: 8px solid #F8F8F8;display: block;float: left; height: 150px;margin: 10px;overflow: hidden;width: 150px;}
.instagram-wrap a:hover{border-color:#F36639}